@charset "UTF-8";
@import url(estilos/header.css);
@import url(estilos/banner.css);
@import url(estilos/carrossel.css);
@import url(estilos/topicos.css);
@import url(estilos/contato.css);

:root {
  --cor-de-fundo: #EBECEE;
  --cor-do-cabecalho: #FFFFFF;
  --cor-menu-hamburguer-titulo: #EB9B00;
  --cor-azul-degrade-menu: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
  --cor-azul: #002F52;
  --fonte-principal: 'Poppins', sans-serif;

}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}
