@charset "UTF-8";
.carrossel__titulo {
  color: var(--cor-menu-hamburguer-titulo);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--cor-do-cabecalho);
  padding: 1em 0 .5em 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: .5em 0;
}