@charset "UTF-8";
.cabecalho__menu-hamburguer {
  width: 24px;
  height: 24px;
  background-image: url(../img/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.cabecalho {
  background-color: var(--cor-do-cabecalho);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container__titulo,
.opcoes {
  display: none;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
  z-index: 2;
}

.container__botao {
  display: none;
}

.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--cor-do-cabecalho);
}

.lista-menu__titulo {
  color: var(--cor-menu-hamburguer-titulo);
  font-weight: 700;
}

.lista-menu__link{
  background: var(--cor-azul-degrade-menu);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .container__titulo, 
  .container__titulo-negrito {
    display: inline-block;
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container__titulo {font-weight: 400;}

  .container__titulo-negrito {font-weight: 700;}

  .container__texto {
    display: none;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    margin: 0 1em;
    padding: 1em .5em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }

  .opcoes__link {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--preto);
  }

  .favorito__transparente,
  .cabecalho__menu-hamburguer {
    display: none;
  }

  .opcoes__botao:checked~.lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao:checked~.opcoes__categorias > .categoria{
    background: var(--cor-azul-degrade-menu);
    color: var(--cor-do-cabecalho);
  }

  .lista-menu__item:hover {
    background: var(--cor-azul-degrade-menu);
  }

  .lista-menu__item:hover > .lista-menu__link {
    background: var(--cor-do-cabecalho);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }

  .opcoes__botao {
    display: none;
  }
}

@media (min-width: 1728px) {
  .container {
    margin-right: 2em;
  }

  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }

  .container__texto {
    display: block;
  }

  .cabecalho {
    padding: 2em;
  }

  .opcoes {
    margin-right: auto;
  }
}